<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3 text-center">Stevens Care</h1>
            <img src="../../public/images/Stevens-health-care.jpg" alt="stevens health care">
        </div>
        <div class="container mt-5">
            <h2>
                Stevens Health Center Information
            </h2>
            <p>Student Health Services is located in the Student Wellness Center. Call 201.216.5678 to schedule an
                appointment.</p>
            <p class="fw-bold">For on-campus emergencies when Student Health Services is closed, contact Campus Police
                directly at
                201.216.3911 or your RA (Resident Assistant). In the case of an off-campus emergency, please contact
                Hoboken Police at 911.</p>
        </div>
    </div>

</main>