<div class="jumbotron case-options-wrapper">
    <div class="container d-flex flex-row justify-content-center">

        <div class="card mx-4 image-card">
            <div class="text-center">
                <img class="image-icon" src="../../public/images/new-case.png" class="card-img-top" alt="New Case" />
            </div>
            <div class="card-body">
                <a href="/cases/addCase" class="badge bg-primary text-decoration-none hover-color-none">New Case</a>
            </div>
        </div>
        <div class="card mx-4 image-card">
            <div class="text-center">
                <img class="image-icon" src="../../public/images/open-cases.png" class="card-img-top"
                    alt="Open cases" />
            </div>
            <div class="card-body">
                <a href="/cases/myCases" class="badge bg-primary text-decoration-none hover-color-none">My Cases</a>
            </div>
        </div>
    </div>
</div>