<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
        <div class="col-lg-5 col-md-8 py-8 py-xl-0">
            <div class="card shadow">
                <div class="card-body p-6">

                    <div class="mb-4">
                        <h1 class="mb-1 fw-bold">Edit your profile</h1>
                    </div>

                    <form id="edit-user-profile" class="needs-validation" novalidate>

                        <div class="mb-3">
                            <label for="first-name" class="form-label">First
                                Name<span class="mandatory">*</span></label>
                            <input type="text" id="first-name" class="form-control" name="firstName"
                                placeholder="First Name" value={{user.firstName}} required="required"
                                autocomplete="off" />
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                First name is mandatory.
                            </div>
                            <div class="invalid-feedback">
                                First name should have only alphabetical
                                characters and/or spaces.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="last-name" class="form-label">Last Name<span class="mandatory">*</span></label>
                            <input type="text" id="last-name" class="form-control" name="lastName"
                                placeholder="Last Name" value={{user.lastName}} required="required"
                                autocomplete="off" />
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Last name is mandatory.
                            </div>
                            <div class="invalid-feedback">
                                Last name should have only alphabetical
                                characters and/or spaces.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="date-of-birth" class="form-label">Date
                                of Birth<span class="mandatory">*</span></label>
                            <input type="date" id="date-of-birth" class="form-control" name="dateOfBirth"
                                placeholder="Date of Birth" value={{user.dateOfBirth}} required="required"
                                autocomplete="off" />
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Date of birth is mandatory.
                            </div>
                            <div class="invalid-feedback">
                                Date of birth should be before today's date.
                            </div>
                            <div class="invalid-feedback">
                                Date of birth should be valid date with format
                                `mm/dd/yyyy`.
                            </div>
                        </div>

                        <label class="form-label" for="gender">Gender<span class="mandatory">*</span></label>
                        <div class="input-group mb-3">
                            <select class="form-select" id="gender">
                                <option value="male" {{#ifeq user.gender "male" }}selected{{/ifeq}}>Male</option>
                                <option value="female" {{#ifeq user.gender "female" }}selected{{/ifeq}}>Female
                                </option>
                                <option value="others" {{#ifeq user.gender "others" }}selected{{/ifeq}}>Others
                                </option>
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Gender is mandatory
                            </div>
                        </div>

                        <p class="text-danger d-none" id="error-message"></p>

                        <div>
                            <div class="d-grid">
                                <button type="submit" id="submitButton" name="submitButton" class="btn btn-primary">Save
                                    Profile</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/validator@latest/validator.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"
    integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/public/js/users.js"></script>